ultralytics
opencv-python==4.10.0.84
numpy==1.26.4
torch==2.4.1
torchvision==0.19.1
torchreid==0.2.5
Pillow==10.4.0
pandas==2.2.3
scipy==1.14.1
matplotlib==3.9.2
tqdm==4.66.5
PyYAML==6.0.2
requests==2.32.3
gdown
psutil==6.0.0
setuptools<81
deep-sort-realtime
fastapi
uvicorn[standard]
python-multipart